<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="static/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


<div class="lastpage" 
style="
display:inline;
align-items: center;
justify-content: center;
"> 

<div style="
display: flex;
align-items: start;
justify-content: start;
">
    <h1>Vous avez gagné <b>{{result}}%</b> de remise sur votre prochaine commande</h1>
    <br>
    
</div>
<div style="
display: flex;
align-items: start;
justify-content: start;
">
    <h1>Le code promo est: &nbsp<b>{{promo}}</b></h1>
    <br>
    
</div>
<style>
      button, button:hover, button:focus, button:active {
    text-decoration: none;
    color: inherit;}
</style>
<div style="
display: flex;
align-items: start;
justify-content: start;
">
    <h2>Copiez le code et utilisez le avant expiration sur votre prochaine commande, sans minimum de commande, maximum de 35dh offerte</h2>
</div>


</div>