<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="static/style.css">
<link href="http://fonts.cdnfonts.com/css/nexa-bold" rel="stylesheet">
<div style="display: inline;">
<div style="
display: flex;
align-items: center;
justify-content: center;
">
    <h1>Ask Administrator to enter appropriate probabilities</h1>
    <br>
</div>
<div style="
display: flex;
align-items: center;
justify-content: center;
">
    <a href="http://127.0.0.1:8080/" class="spinagain" >Go to home page</a>
</div>
</div>